* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f5f7;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 2px solid #ccc;
}

h1 {
  color: #0079bf;
}

button {
  display: flex;
  justify-items: space-between;
  align-items: center;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  margin-left: 10px;
  border: none;
}

.btn-primary {
  background-color: #0079bf;
  border: 2px solid #005a8c;
  color: white;
}

.btn-primary:hover {
  background-color: #005a8c;
  border: 2px solid #004266;
}

.btn-primary > i {
  margin-right: 5px;
}

.btn-success {
  background-color: #5cb85c;
  border: 2px solid #429742;
  color: white;
}

.btn-success:hover {
  background-color: #429742;
  border: 2px solid #367936;
}

.btn-danger {
  background-color: #d9534f;
  border: 2px solid #c9302c;
  color: white;
}

.btn-danger:hover {
  background-color: #c9302c;
  border: 2px solid #9b2622;
}

.board {
  display: flex;
  gap: 20px;
  padding: 10px 0;
  overflow-x: auto;
}

.list {
  background-color: #ffffff;
  border: 2px solid #ccc;
  border-radius: 5px;
  width: 300px;
  padding: 10px;
  position: relative;
}

.list h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #333;
  margin-bottom: 10px;
}

.tareaContainer {
  margin-bottom: 10px;
}

.card {
  background-color: #e2e4e6;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid #bebfc0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card:hover {
  background-color: #d7d9d9;
  border-color: #aab8c2;
}

.tareaButtons {
  display: flex;
}

footer {
  padding: 10px;
  text-align: center;
  font-size: 12px;
  border-top: 2px solid #ccc;
  margin-top: 20px;
}

.agregarLista {
  margin-top: 20px;
}

/* Sobre mí */

form {
  background: #dddddd;
  border-radius: 5px;
  border: 2px solid #777777;
  margin: 20px 0;
  padding: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid #a3a3a3;
  border-radius: 5px;
  background: #e9e9e9;
}

input[type="submit"] {
  background: #009700;
  color: #fff;
  border: 2px solid #006900;
  padding: 5px 20px;
  cursor: pointer;
  border-radius: 5px;
}

input[type="submit"]:hover {
  background: #006900;
  border: 2px solid #005500;
}

.about-me,
.contact {
  padding: 10px;
  margin: 10px;
}

.about-me > h1 {
  margin-bottom: 10px;
}
